extends layout

block content
  img(src="/images/adminimg.jpg" )
  h3= title
  hr
  div(id="numberuser")
    ul
      li
        a(href="/admin/edit-remove") Mettre à jour / Supprimer
      li
        a(href="/admin/orders")  Reservations
      
      