extends layout

block content
  a(href="/admin")
    button(type="button" class="button_small") Back to admin
  h3= title
  hr
  div(class="container")
    div(id="logbox")
      h3 rentrez le nom ou le numero de telephone
      form(action="/admin/edit-remove" method="POST")
        
          
        input(type="text" name="name" class="input" id="first_name" placeholder="Nom - Prenom" )


        p OU:

        
          
        input(type="tel" name="num_tel" class="input" id="num_tel" placeholder="numero de telephone" )

        
          

        
        button(type="submit" ) CONFIRMER