doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet")
  body
    header
      nav
        a(href="/")
          img#logo(src="/images/logovtc.png")
        
           
        ul
          if !user
            li
              a(href="/register") S'enregistrer
            li
              a(href="/login") Se connecter
          else
            li
              a(href="/user") Mon Compte
            li
              a(href="/logout") Se déconnecter 

      -const values = Object.values(flash)
      -const keys = Object.keys(flash)
        if keys.length > 0
          div(class=`message message_${keys}`)
            span= values
            span.close_btn(onclick="this.parentNode.remove()") &times;
     
        
        
        

    
    block content
