extends layout
include mixins/_user_form
block content

    h3=title
    hr
    div(class="loginButton")
        h3 Avec les réseaux sociaux
        div(id="loginImg")
        
            a(href="/auth/twitter")
                img(src="/images/twitter2.png" id="loginBtnImg1")
            a(href="/auth/google")
                img(src="/images/redgoogle4.png" id="loginBtnImg2")

        div(id="loginImgBigScreen")
      
            a(href="/auth/twitter")
                img(src="/images/twLoginBtn.png" id="loginBtnImg3")
            a(href="/auth/google")
                img(src="/images/logogoogle.png" id="loginBtnImg4")
        
        
        if errors
          ul
            for error in errors
              li=error.msg
        +userForm()


        
        