extends layout
include mixins/_user_form
block content
    div(class="wrapper")
        div(class="page-header clear-filter" filter-color="orange")
           div(class="page-header-image" data-parallax="true" style="background-image:url('/assets/img/vtc6.jpg');")
        div(class="espaceuser")
           h3(class="title")=title

              
        if errors
          ul
            for error in errors
               li=error.msg
        +userForm()


        
        