extends layout
include mixins/_reserv_Form

block content
  img(src="/images/vtcuser2.jpg")
  div(id="number")
    h3 Bienvenue, dans votre espace personnel 
       
          
  +reservForm()
  div(id="number")
    ul
      li
        a(href="/user/orders") 
          button(class="button_small") Mes dernières réservations

  




  //- #{user.fullName}
  //- `Bonjour, ${user.fullName}`    