mixin userForm()
  div(class="container")
    div(id="logbox")
      h4 S'enregistrer
      form(action="/register" method="POST")
        
          
        input(type="text" name="first_name" class="input" id="first_name" placeholder="nom" required)


        input(type="text" name="surname" class="input" id="surname" placeholder="prenom" required)


        
          
        input(type="text" name="email" class="input" id="email" placeholder="email" required)

        
          
        input(type="text" name="confirm_email" class="input" id="confirm_email" placeholder="confirmez email" required)

        
          
        input(type="password" name="password" class="input" id="password" placeholder="mot de passe" required)

        
          
        input(type="password" name="confirm_password" class="input" id="confirm_password" placeholder="confirmez le mot de passe" required)

        
        button(type="submit"  ) CONFIRMER
    